# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you may find useful.
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.packages
build/
flutter_*.png
.flutter-plugins
.flutter-plugins-dependencies
.merlin
.pub-cache/
.pub/
generated_plugin_registrant.dart

# Symbolication related
app.*.symbols.json

# Obfuscation related
app.*.map.json

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS/XCode related
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/Flutter/App.framework
**/ios/**/Flutter/Flutter.framework
**/ios/**/Flutter/Generated.xcconfig
**/ios/**/Flutter/ephemeral/
**/ios/**/Flutter/app.flx
**/ios/**/Flutter/app.zip
**/ios/**/Flutter/flutter_assets/
**/ios/**/Flutter/flutter_export_environment.sh
**/ios/**/ServiceDefinitions.json
**/ios/**/Runner/GeneratedPluginRegistrant.*

# web related
lib/generated_plugin_registrant.dart

# Coverage
coverage/

# Symbols
*.symbols

# Windows related
**/windows/flutter/ephemeral/

# Linux related
**/linux/flutter/ephemeral/

# MacOS related
**/macos/Flutter/ephemeral/

# Firebase/Android Studio related
**/android/app/google-services.json
**/ios/Runner/GoogleService-Info.plist
**/macos/Runner/GoogleService-Info.plist

# Local Flutter SDK cache
.flutter-sdk/
